<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is the Create a New Course page</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<br>
<h1 class="sans-serif-font" style="text-align: center">Add a new course</h1>
<div align="center">
    <br><br>
    <form action="#" th:action="@{/create-course}" th:object="${course}" method="post">
        <input required type="text" class="form-control mb-4" placeholder="Course Name" th:field="*{courseName}"
               style="width: 30%;"/>
        <input required type="text" class="form-control mb-4" placeholder="Course ID" th:field="*{courseID}"
               style="width: 30%;"/>
        <select th:field="*{instructorID}">
            <option th:each="p : ${listOfInstructors}" th:value="${p}" th:text="${p}"></option>
        </select>

        <div align="center" style="width: 150px">
            <p><input type="submit" class="btn btn-primary" name="create" style="float: left"/></p>
            <p><a href="/admin" name="action" value="Cancel" class="btn btn-primary" style="float: right">Cancel</a></p>
        </div>
    </form>
</div>
</body>
</html>