<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is the Edit Course page</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<h1 class="sans-serif-font" style="text-align: center">Edit course</h1>
<div>
    <form action="#" th:action="@{/update-course}" th:object="${course}" method="post">
        <input type="hidden" name="originalCourseID" id="originalCourseID" th:value="${course.courseID}"/>
        <input required type="text" class="form-control mb-4" placeholder="Course Name" th:field="*{courseName}"
               style="width: 30%;"/>
        <input required type="text" class="form-control mb-4" placeholder="Course ID" th:field="*{courseID}"
               style="width: 30%;"/>
        <select th:field="*{users}">
            <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">
            </option>
        </select>
        <p><input type="submit" class="btn btn-primary" value="Save"/></p>
    </form>
</div>
</body>
</html>