<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>front page</title>
    <meta http-equiv="Content-type" content="text/html" ; charset="UTF-8" />

</head>

<body>
    <div style="background-color:#337ab7; height:50px; color: black;">
        <h2 style="float: left;">Group Formation Tool</h2>
		<a style="float: right" href="/logout">Logout</a>
		<!-- <a style="float: right" class="active" href="#account">Account</a>  -->
    </div>
    
    <div style="text-align:center">
        <form th:action="@{/questionManager}" method="get">
            <button
                style="background-color: gray; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                type="submit">Question manager</button>
        </form>
    </div>
</body>

</html>