<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>front page</title>
    <meta http-equiv="Content-type" content="text/html" ; charset="UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <div style="background-color:#337ab7; height:50px; color: black;">
        <a href="/" class="active">Group Formation Tool</a>
        <a style="float: right" href="/logout">Logout</a>
        <!-- <a style="float: right" class="active" href="#account">Account</a>  -->
    </div>

    <h2 style="text-align: center;">Delete Questions</h2>
    <div>
        <form th:action="@{/listDeleteQuestions}" method="POST" th:object="${question}">
            <select th:field="*{questionID}" style=" margin-bottom: 500px; width: 200px;">
                <option value=0>Select a question </option>
                <option th:each="list1 : ${list}" th:value="${list1.questionID}" th:text="${list1.questionText}">
                </option>
            </select>

            <button onclick="return confirm('Are you sure you want to deletd the question?');"
                style="color:black; cursor: pointer; margin-top: 200px;  width: 20%; background-color: cornflowerblue; height: 30px;"
                type="submit">Delete the question</button>
            <br />
        </form>

    </div>

</body>

</html>