<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Login Page</title>
<link th:href="@{/public/style.css}" rel="stylesheet" />
</head>
<body>

    <div id="container">
        <h2 style="text-align:center">Login Page </h2>
        <form action ="#" style="text-align:center" h:action="@{/login}" th:object="${user}" method="POST">
            <label for="username" >username</label>
            <input  type="text" id = "username" name = "username" th:field="*{email}"/>
            <br/>
            <label for="password">Password</label>  
        <input type="password" id="password" name="password" th:field="*{password}" />  
        <br/>
        <input id="submit" type="submit" value="Log in" />  
            <br/>
        </form>
        <p th:if="${loginError}" class="error">Wrong user or password</p>  
    </div>

</body>

</html>