<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>front page</title>
    <meta http-equiv="Content-type" content="text/html" ; charset="UTF-8" />

</head>

<body>
    <div style="background-color:#337ab7; height:50px; color: black;">
        <h2 style="float: left;">Group Formation Tool</h2>
        <a style="float: right" href="/logout">Logout</a>
    </div>

<br/>
    <div>
        <ul>
            <li>
                <a style="float: left;"  href="/create-question">Create a Question</a>
            </li>
               
                <li><a style="float: left" href="/sortQuestion">Sort the questions</a>
                </li>
                
             <li> <a style="float: left" href="/listDeleteQuestions">Delete the question</a></li>
            
        </ul>

    </div>
    <div th:text="${message}" th:if="${message}"></div>
</body>

</html>