<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>front page</title>
    <meta http-equiv="Content-type" content="text/html" ; charset="UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <div style="background-color:#337ab7; height:50px; color: black;">
        <h2 style="float: left;">Group Formation Tool</h2>
        <a style="float: right; color: black;" href="/logout">Logout</a>
    </div>

    <h2 style="text-align: center;">Sort the Questions</h2>
    <div>
        <table style="width: 10%;">
            <tr>

                <th>Question Title</th>
            </tr>

            <tr th:each="list1, itemStat: *{list}">

                <td><span th:text="${list1.title}"></span></td>

            </tr>

        </table>
        <form th:action="@{/sortQuestionByTitle}" method="get">
            <button
                style="color:black; cursor: pointer; margin-top: 200px; margin-left: 600px; width: 20%; background-color: cornflowerblue; height: 30px;"
                type="submit">Sort Questions based on title</button>
            <br />
        </form>
        <form th:action="@{/sortQuestionByDate}" method="get">
            <button
                style="color:black; cursor: pointer; margin-top: 20px; margin-left: 600px; width: 20%; background-color: cornflowerblue; height: 30px;"
                type="submit">Sort Questions based on date</button>
        </form>

    </div>
</body>

</html>